.button {
    background-color: green;
    color: white;
    padding: 20px 40px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    box-shadow: 0 0 10px white;
}
